<li [ngClass]="{'list-group-item':true,
      'list-group-item-success':studentStatus === 'present',
      'list-group-item-danger': studentStatus === 'absent'}">
  <div style="width:20px;height:20px;background-color: red;" *ngIf="studentStatus === 'absent'">
  </div>
  <div style="width:20px;height:20px;background-color: green;" *ngIf="studentStatus === 'present'">
  </div>
  <input type="text" class="form-control" [(ngModel)]="studentName">
  <h4 [ngStyle]="{color:getColor()}"> Etudiant: {{ studentName }} -- Status: {{ getStatus() }}</h4>
</li>
