<div class="card mt-5" style="width: 18rem;">
  <img src="https://img.myloview.fr/posters/student-icon-vector-male-person-profile-avatar-with-mortar-board-hat-symbol-for-school-college-and-university-graduation-degree-in-flat-color-glyph-pictogram-illustration-700-180613596.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2>{{ name }}</h2>
    <button [ngClass]="{'btn':true,
                        'btn-primary': status === 'present',
                        'btn-danger' : status === 'absent'}">
      {{ status | titlecase }}
    </button>
  </div>
</div>

<a class="btn btn-outline-info mt-3" routerLink="/students">Retour a l'accueil <<</a>
